.App {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

body,
html,
#root {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  position: fixed;
  margin-top: 30px;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  text-align: initial;
}

.striked {
  text-decoration: 'line-through';
}
